<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8" />
	    <title><%= title %></title>
	   
	    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

	        <!-- jQuery library -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	   
	    <!-- for define page related JS file-->
	</head>

	<body>
		